
body{
    padding: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #005961;
    margin: 0px;
    color: white;
}

li{
    display: inline;
    margin-left: 10px;
}

.logo{
    display: inline;
}

